<div class="coalese">
	<div class="coalese-wrapper">
		<img src="../images/coalesce.png" style="margin-top: 165px;position: absolute;" title="coalesce" />
	</div>
	<a href="#myalerts"  ng-mouseenter="arrow01hover = true" ng-mouseleave="arrow01hover = false" 
			ng-class="{arrow: true, arrow01:true, arrowhover: arrow01hover}"
			>
		<span class="top">Alerts</span>
	</a> 
	<a href="#company-profile-summary" ng-mouseenter="arrow02hover = true" ng-mouseleave="arrow02hover = false" 
			ng-class="{arrow: true, arrow02:true, arrowhover: arrow02hover}"
			ng-click="mainHtmlUrlClicked('company-profile-summary.html')">
		<span class="top">Deal Profiles</span>
	</a> 
	<a href="#advanced-search-result" ng-mouseenter="arrow03hover = true" ng-mouseleave="arrow03hover = false" 
			ng-class="{arrow: true, arrow03:true, arrowhover: arrow03hover}"
			ng-click="mainHtmlUrlClicked('advanced-search-result.html')">
		<span class="bottom">Find Deals</span>
	</a> 
	<!-- 
	<a href="#company-profile-detail" ng-mouseenter="arrow04hover = true" ng-mouseleave="arrow04hover = false" 
			ng-class="{arrow: true, arrow04:true, arrowhover:  arrow04hover}"
			ng-click="mainHtmlUrlClicked('company-profile-detail.html')">
		<span class="bottom">Ask Watson</span>
	</a>
	 -->
	<a href="#/user-model" ng-mouseenter="arrow04hover = true" ng-mouseleave="arrow04hover = false" 
			ng-class="{arrow: true, arrow04:true, arrowhover:  arrow04hover}"
			ng-click="mainHtmlUrlClicked('user-model.html')">
		<span class="bottom bottomLeft">Model</span>
	</a>
</div>