@CHARSET "ISO-8859-1";
.upload-button{background: #5b79af;
background: -moz-linear-gradient(top, #5b79af 1%, #33509b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5b79af), color-stop(100%,#33509b));
background: -webkit-linear-gradient(top, #5b79af 1%,#33509b 100%);
background: -o-linear-gradient(top, #5b79af 1%,#33509b 100%);
background: -ms-linear-gradient(top, #5b79af 1%,#33509b 100%);
background: linear-gradient(to bottom, #5b79af 1%,#33509b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b79af', endColorstr='#33509b',GradientType=0 );
border:1px solid #4060a9;color:#fff;
}

.upload-button:hover{background:#517bcc;}

.upload-form{

}
.upload{

}
#note{
	font-style: italic;
	padding-left: 10px;
}

.note{
	list-style-type: square;
	color: #b4b4b4;
	padding-left: 30px;
}
.format{
	/* border: none; */

}
.uploadTable{
	/* border: none; */
}