@CHARSET "ISO-8859-1";

body {
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	background: #eef1f6 url("../images/background/bg-login.jpg") no-repeat
		scroll 0 0/100% 100%;
	height: 100%;
	width: 100%;
}

.main{
	
}
.no_margin {
	margin: 0;
}

header {
	background-color: #eef1f6;
	height: 40px;
	width: 100%;
}

.floatLT {
	float: left;
}

.floatRT {
	float: right;
}

h2 {
	color: #fff;
	display: inline;
	font-size: 21px;
	padding: 0 0 0 10px;
}

h2 {
	font-size: 30px;
	font-weight: 200;
	margin: 0 0 10px;
}

.login-form-inputs {
	margin: 0 auto;
	width: 48%;
	padding-top: 5%;
}

.forgot-form-inputs {
    margin: 0 auto;
    width: 66%;
    padding-top: 5%;
}

ol,ul {
	list-style: outside none none;
}

li {
	margin: 15px 0 0;
	width: 100%;
}

li>input {
	background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	border: 0 none;
	color: #d7d7d7;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 15px 5%;
	width: 90%;
}
.has-error {
	border: 1px solid #c26542;
}

input.ng-invalid :not(.ng-pristine) {
  border: 1px solid red;
}

.login-form-submit-container {
	color: #c5c5c5;
	margin: 30px auto 0;
	padding-bottom: 10px;
	width: 50%;
}
.forgot-form-submit-container {
	color: #c5c5c5;
	margin: 32px 104px 0;
	padding-bottom: 10px;
	width: 50%;
}
.hidden{
	visibility: hidden;
}
.submit-btn {
	-moz-user-select: none;
	background-color: #009ddc;
	background-image: none;
	border: 1px solid transparent;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.33;
	margin-bottom: 0;
	margin-right: 5px;
	margin-left: 25px;
	padding: 10px 16px 9px;
	position: relative;
	text-align: center;
	top: -2px;
	transition: background-color 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}

input[type="checkbox"] {
	width: 20px;
}

.forgot-pwd {
	margin: 10px 15px;
	padding-bottom: 10px;
	position: relative;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}

.blue {
	color: #3aa2df !important;
}

.login-to {
	color: #96d5ff;;
	float: right;
	font-weight: 700;
	position: relative;
	right: 10px;
	top: 5px;
}

.logo {
	background-image: url("../images/logo/logo.png");
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: 80% 75%;
	height: 34px;
    margin-top: 5px;
	width: 300px;
}

.banner {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

.login-form {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	margin: 8% auto 0;
	max-width: 640px;
	min-height: 360px;
	position: relative;
	z-index: 100;
}

.login-form-header {
	background-color: #225f8e;
	color:#fff;
	display: block;
	padding: 15px;
}

.vantage-logo {
	background-image: url("../images/logo/vantage-logo.png");
	background-position: 0 center;
	background-repeat: no-repeat;
	height: 75px;
	width: 180px;
	margin-left: 135px;
}

.alert-login {
	color: #c26542;
	padding-bottom: 15px;
}
.alert-container{
}

.ibm-watson-logo {
	background-image: url("../images/logo/ibm-watson-logo.png");
	background-position: 0 center;
	background-repeat: no-repeat;
	height: 75px;
	width: 100px;
	margin-right: 135px;
}
.changePasswordForm{
	min-height: 420px;
}

footer {
	margin: 20px auto 10px;
	width: 970px;
}

.footertext {
	color: White;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
}
.theme-selection li{
	margin: 4px 0 0 !important;
}
[ng-controller="loginController"] input:invalid {
    border: none !important;
    box-shadow: none;
}