@charset "utf-8";
/* CSS Document */
.cls_wrapper h1             { color:#fff; }
.box						{  background:#fff; border:1px solid #113653;  }
.top_head					{  background:#225f8e; }
.btm_cnt					{ background:#ffffff; }
.location p                 { color:#333; }
.intrest span               {  color:#333; }
.intrest p   				{ color:#7b7b7b;  }
.employee 					{ background:#ffffff; border:1px solid #dfdfdf; }
.job_posting                { background:#ffffff; border:1px solid #dfdfdf; }
.lastraise                  { background:#ffffff; border:1px solid #dfdfdf; }
.lastcall                   { background:#ffffff; border:1px solid #dfdfdf; }
.lasttouch                  { background:#ffffff; border:1px solid #dfdfdf; }
.springbot_box              { background:#fff; margin-right: 8px;} 
.value_right p  			{ color:#225f8e; }
.employee span   			{ color:#333333; }
.top_head span 				{ color: #94aec4 !important; }
.job_posting span 			{ color: #333333; }
.lastraise span   			{ color:#333333;  }
.lastcall span   			{ color:#96d5ff;  }
.lastcall_cnt span   		{ color:#333333; }
span.date                   { color:#999999 !important; }
.lasttouch span   			{ color:#333333;  }
.leftcnt_top 				{ border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf; }
.leftcnt_top p  			{ color:#333; }
.leftcnt_btm p  			{ color:#333333; }
.add_cnt					{ background: #fff;}
.add_cnt a					{ color:#333;}
.add_cnt p  				{ color:#333; }
.add_cnt span 				{  color:#999; }
.add_cnt .date 				{  color:#999; }
.add_cnt .feature 			{ color: #225f8e;}
.btm_cnt h2 				{ color:#333333; }
.btm_cnt.active  span       { color:#fff; }
.box_btm					{ background:url(../../images/blue/divider-grey.png) repeat-y;  background-position:348px 0px; margin-top:5px; }
.springbot_cntright h2 		{ color:#337ab7; } 
.location_ico   			{ background:url(../../images/blue/sprites.png) no-repeat; 
										  background-position:-229px -1px; }
.icon_user   				{ background:url(../../images/blue/sprites.png) no-repeat; 
											background-position:-210px -4px;  }
span.link   				{  background:url(../../images/blue/sprites.png) no-repeat; 
											background-position:-53px -49px; }
											
a.rating,a.rating.active:hover	{ width:24px; background:url(../../images/blue/sprites.png) no-repeat; 
								background-position:-105px -31px;  }
a.rating:hover, a.rating.active {   background-position:-105px -53px; padding-right:3px;  }	
						
a.disable 					{   background:url(../../images/blue/sprites.png) no-repeat; 
								background-position:-131px -31px; }
a.disable:hover             {  background-position:-131px -53px; padding-right:3px; }	
.glyphicon-hand-up			{color:#fff;}
.cls_webtrend				{ color: #337ab7;}
.search_filter				{ background: #fff;}
.border-bottom				{ border-bottom: 1px solid #ccc;}
.find-deal-panel 			{background: none repeat scroll 0 0 transparent !important;}
/*****************DEAL PROFILE and Find Deal ***********
*******************************************************************************/
.cls_wrapper .search_filter h1   	{ color:#225f8e;  }
.check_all  						{ background:#fff; }
.toggle-open table  				{ color:#333333; }
table.tb_title   					{ color:#fff; }
#select3 .customSelectCont      	{ color:#333333; }
#select4 .customSelectCont      	{ color:#333333; }
.check_all .table-responsive  		{ border:1px solid #ccc; }
.check_all .table-responsive tr    	{ border-top:1px solid #ccc; }
#select3 .selectWrapper      		{ border-radius:0px; border-color:#999; }
#select4 .selectWrapper       		{ border-radius:0px; border-color:#999; }
.general_info   					{ background:#fff; color:#333; border:1px solid #fff;padding:0px !important; }
.fundraising_history				{ background:#FFFFFF; }
.lastraise_details  				{ color:#333;}
.lastraise_details h3  				{ color:#333; border-bottom:1px solid #ccc;  }
/* .style_table tr 					{ border-bottom:1px solid #dfdfdf;  } */
.fundraising_history h2				{ border-bottom:1px solid #dfdfdf;  font-size:14px; color:#225f8e;} 
.trends								{ padding-right: 15px;}
.trends span  						{ color:#225f8e;  }
.abt_company 						{ background:#fff;}
.comp_size   						{ color:#333; padding: 0px;}
.comp_size h3  						{ color:#333; border-bottom:1px solid #ccc; }
.contact_history   					{ background:#fff; color:#333;}
.contact_history  h3  				{ color:#333; border-bottom:1px solid #ccc; }
.check_all ul li label              { color:#333; font-weight:400; font-size:14px; }
.check_all ul 						{ border:1px solid #ccc; }
.general_info h1  					{ color:#225f8e; }
.refine a  							{ color:#fff;  }
.refine a:hover  					{ color:#96d5ff; } 
.refine a:focus  					{ color:#96d5ff; }
.employees_range   					{ background:#e8e8e8; border:1px solid #ccc; color:#333; }
.enter_question input[type="text"]  { background:#fff;color:#000!important;}
.enter_question input::-webkit-input-placeholder {  color: #000!important;}
.enter_question input::-moz-placeholder { color: #000!important; }

/* input[type="checkbox"] {
    display:none;
} */
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 8px 0 0;
    vertical-align:middle;
   background:url(../images/sprites.png) no-repeat;
	background-position:-3px -77px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label   	{ font-weight:700;  }
input[type="checkbox"]:checked + label span {
    
	background:url(../images/sprites.png) no-repeat;
	background-position:-25px -97px;
}
.btn-save   								{ border:1px solid #999; color:#333; }
.btn-save:hover 							{ background:#225f8e; border:1px solid #225f8e; color:#fff; }
.company-widget {background: #fff;border: 1px solid #dfdfdf;}
.company-widget table tr  			{ border-bottom:1px solid #dfdfdf; }
.company-widget .topmain_right h2   { color:#225f8e; }
.company-widget .topmain_right 		{ color:#225f8e; }
.topmain_right h2     				{ color:#225f8e; }
.topmain_right 						{color:#225f8e;  }
.alert-history-profile .moreLessText		{ }
.alert-history-profile h2					{ color: #337ab7; padding-left: 0px;}
.company-profile-summary h1					{ color: #225f8e;}
.company-profile-summary h3					{ width: 100%; padding: 10px 0;margin: 0px; color: #225F8E; font-weight: 600;}
.company-profile-summary .bordor-box		{ border: 1px solid #CCCCCC;}
.company-profile-summary .table 			{ background: #fff;}
/* .alert-history-profile h2		 			{ border-bottom: 1px solid #CCCCCC; background: none repeat scroll 0 0 #e8e8e8;} */
.bordor-box									{ border: 1px solid #CCCCCC;}
.value_right a  			                { color:#225f8e; }
.padding-left-deal							{ padding-left: 20px;}
.alert-history-profile .add_cnt				{ padding-left: 0px;}
.border-bottom								{ border-bottom: 1px solid #CCCCCC;}
.header-box									{ border-bottom: 1px solid #CCCCCC; margin-top: 5px; padding-bottom: 5px; padding-left: 5px;}
.style_table tr td							{ padding-left: 15px !important;}
/*************ASKWATSON**************/

.main_askwatson   							{ background:#fff; border:1px solid #113653; }
.askwatson_cont  							{ border-bottom:1px solid #ccc; }
a.morelink   								{ border:1px solid #225f8e;  background-color:#455c6d; color:#fff; }
a.morelink:focus   							{ color:#fff;  }
a.morelink:hover   							{ color:#fff;  text-decoration:none; background-color:#333; }
a.morelink.less                             { background-color:#999; color:#fff; border:1px solid #333; }

/**********Create Model **************
*****************************************/
.frm_row 									{ color:#333; }
.form_createmodel							{ color:#333; }
.frm_name input[type="text"] 				{border-color:#ccc;}
.include_keyword input[type="text"] 		{ border-color:#ccc; }
.model_selection label    					{ font-size:14px; color:#333; font-weight:normal; }

.frm_row input[type="text"] 				{ border:1px solid #ccc; background-color:transparent; }
.frm_row input[type="number"]  				{ border:1px solid #ccc; background-color:transparent; }
.model_selection #select4 .selectWrapper	{ border:1px solid #ccc;  }
.source #select3 .selectWrapper 			{ border:1px solid #ccc;  }
#user-model .btn-group button				{ color:#333; border: 1px solid #ccc}
#myModal									{ color:#333;}


.chart-label-color,.addTotalText					{ color:#333 !important;}
									