<div ng-controller="changePasswordController">
      <div class="modal-header">
      	  <button type="button" ng-click="closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title"><i class="fa fa-key"></i> Change Password</h3>
      </div>
      <div class="modal-body">
   		<div ng-show="errorMsg && !showSuccess" class="col-md-12 alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  {{errorMsg}}
		</div>
		<div ng-show="showSuccess" class="col-md-12 alert alert-success" role="alert">
		  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  {{successMsg}}
		</div>
      	<form name="changePasswordForm" autocomplete="off" class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-4 control-label">Old Password</label>
		    <div class="col-sm-6">
					<input name="oldPassword" required type="password" class="form-control primary-text" 
					value="" placeholder="Old Password" tabindex="1"
					ng-model="oldPassword">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-4 control-label">New Password</label>
		    <div class="col-sm-6">
					<input name="newPassword" required type="password" class="form-control primary-text" 
					value="" placeholder="New Password" tabindex="2"
					ng-model="newPassword">
		    </div>
		  </div>
		 <div class="form-group">
		    <label class="col-sm-4 control-label">Confirm New Password</label>
		    <div class="col-sm-6">
					<input name="confirmPassword" required type="password" class="form-control primary-text" 
					value="" placeholder="Confirm Password" tabindex="3"
					ng-model="confirmPassword">
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
      	  <input type="button" ng-click="changePasswordSubmit()" class="btn btn-primary" tabindex="4" value="Change Password">
          <button class="btn btn-warning" ng-click="closeModal()">Close</button>
      </div>
</div>