<div class="main" ng-controller="forgotPasswordController" >
<form name="forgotPasswordForm" autocomplete="off" class="login-form" id="LoginForm" ng-submit="resetPasswordSubmit()" ng-cloak>

	<div class="login-form-header clearfix">
		<h2>Forgot Password</h2>
		<div class="login-to bb-login-title" ng-hide="true"><span class="default">Investors Destination</span></div>
	</div>
	
	<ul class="forgot-form-inputs formAttributes">
		<li ng-if="showError || forgotPasswordForm.emailId.$error.required">
			<div ng-if="showError" class="alert-login alert-container floatLT" ng-bind="errorMsg"></div>
			<div ng-show="forgotPasswordForm.emailId.$error.required" class="alert-login alert-container floatLT"> Email id is required.</div>
		</li>
		<li><br><p style="color:white;">Enter your email address to reset your password.</p></li>

		<li><input name="emailId" required type="email" value="" placeholder="Email Address" tabindex="2" 
				ng-class="{ChangedTypePass: true, 'has-error' : showError}"  ng-model="email" id="email"></li>
	</ul>

	<div class="forgot-form-submit-container formAttributes">
		<input type="submit" class="submit-btn floatLT login-submit-btn" tabindex="4" value="Reset Password">
		<div class="forgot-pwd floatLT">
			<a href="#/login" class="forget blue">Cancel</a>
		</div>
	</div>
	<div class="secure-icon">&nbsp;</div>
</form>
</div>