<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Context>

  <!--  Resource name="jdbc/trackerMySqlDS" auth="Container" type="javax.sql.DataSource"
               maxActive="100" maxIdle="30" maxWait="10000"
               username="tracker" password="d3vtr@ck3r" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost:3306/tracker?autoReconnect=true" validationQuery="SELECT 1" removeAbandoned="true"/-->

</Context>